.container-sidebar {
    width: 20%;
    height: 100vh;
    border: 1px solid red;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}

li a.active {
    color: red;
    font-weight: bold;

}